{% extends 'partials/base.html' %}
{% block title %} Page De Déconnexion {% endblock %}

{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col-md-6 offset-md-3">
            <div class="border bg-white p-3">
                <h3>Page de Déconnexion</h3>
                <div class="alert alert-danger">
                    <h4>Tu t'es Déconnecté !</h4>
                </div>
                <a href="{% url 'utilisateur-login' %}">Connecte toi</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}