{% extends 'partials/base.html' %}
{% block title %} Page de réinitialisation du mot de passe terminée {% endblock %}

{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col-md-6 offset-md-3">
            <div class="border bg-white p-3">
                <h3>Réinitialisation du mot de passe effectuée</h3>
                <div class="alert alert-info">
                    <h4>Un mail a été envoyé à l'adresse email que vous avez renseignée. Il contient des instructions que vous devez suivre pour réinitialiser votre mot de passe</h4>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}